---
import Home from "@/icons/Home.astro"
import image from "../../public/images/photo-aas.jpeg"
import HeaderItem from "./HeaderItem.astro"

---


<header>
    
    <!-- <img class="size-12 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500" 
        src={image.src}  
        alt="Bordered avatar"
        /> -->

    
    <nav class="flex justify-center mx-auto mt-6 " aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 xl:space-x-2 rtl:space-x-reverse ">
         
          <li class="inline-flex items-center">
            <a  href="#inicio" 
                class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
                >
                  <Home />    
                  Inicio
            </a>
          </li>
          <!-- <HeaderItem href="#experiencia"> Experiencia</HeaderItem> -->
          <HeaderItem href="#proyectos"> Proyectos</HeaderItem>
          <HeaderItem href="#skills"> Skills</HeaderItem>
          <HeaderItem href="#sobre-mi"> Sobre Mí</HeaderItem>
          <HeaderItem href="#contactame"> Contactame</HeaderItem>
       
        </ol>
    </nav>
  
</header>