---
import Home from "@/icons/Home.astro"
import image from "../../public/images/photo-aas.jpeg"
import HeaderItem from "./HeaderItem.astro"

---


<header>
        
    <nav class="flex justify-center w-full mx-auto mt-6" aria-label="Breadcrumb">
        <ol class="flex  justify-center items-center flex-wrap space-x-1  ">
         
          <li class="flex items-center">
            <a  href="#inicio" 
                class="flex items-center text-sm  font-medium text-gray-400 hover:text-blue-600"
                >
                  <Home />    
                  Inicio
            </a>
          </li>
          <!-- <HeaderItem href="#experiencia"> Experiencia</HeaderItem> -->
          <HeaderItem href="#proyectos"> Proyectos</HeaderItem>
          <HeaderItem href="#skills"> Skills</HeaderItem>
          <HeaderItem href="#sobre-mi"> Sobre mí</HeaderItem>
          <HeaderItem href="mailto:angel.full.stack.23@gmail.com"> Contactame</HeaderItem>
       
        </ol>
    </nav>
  
</header>