---

interface Props {
  title: string;
  tags: { name: string; icon: any }[]
}

const { title, tags } = Astro.props

---

<div class="px-2">
    
    <div class="p-5">
        <h5 class="mb-2 lg:text-2xl text-xl  text-white">{title}</h5>
    </div>   
    <ul class="flex gap-4" >
        <div class="grid md:grid-cols-11 grid-cols-3 gap-4">

            {tags.map(tag => (
                <li class=" flex justify-center items-center flex-col  bg-[#161616] hover:bg-[#191919] rounded-xl border border-blue-600  p-4 text-sm font-semibold text-blue-600 gap-2   ">
                <tag.icon class="size-14"/>
          
                   {tag.name}
          
            </li>
        ))}
        </div>
    </ul>

</div>