---

interface Props {
  title: string;
  tags: { name: string; icon: any }[]
}

const { title, tags } = Astro.props

---

<div class="flex flex-col justify-center items-center ">
    
    <div class="p-5">
        <h5 class="mb-2 text-2xl  tracking-tight text-white">{title}</h5>
    </div>   
    <ul >
        {tags.map(tag => (
            <li class="inline-block bg-black rounded-full px-2 py-1 text-sm font-semibold text-white mr-2 mb-2  ">
                <tag.icon class="inline-block mr-1 size-24"/>
                 {tag.name}
            </li>
        ))}
    </ul>

</div>